body{
    margin:0;
    background:#f6f3ea;
    color:#24344d;
    font-family:Georgia, serif;
    line-height:1.7;
}

header{
    text-align:center;
    background:#e8e3d5;
}

header img{
    width:100%;
    max-height:600px;
    object-fit:cover;
}

.hero{
    padding:30px;
}

nav{
    background:#24344d;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    margin:0 15px;
    text-decoration:none;
    font-weight:bold;
}
.pathway{
    text-align:center;
    margin:40px 0;
}

.pathway img{
    width:100%;
    max-width:1000px;
    height:auto;
    border-radius:12px;
}
.pathway2 img{
    width:100%;
    max-width:1000px;
    height:auto;
    border-radius:12px;
}
nav a:hover{
    text-decoration:underline;
}

.container{
    max-width:1000px;
    margin:auto;
    padding:35px;
}

h2{
    border-bottom:3px solid #7d8ea8;
    padding-bottom:8px;
}

.reference{
    background:white;
    padding:15px;
    margin-bottom:15px;
    border-radius:10px;
    box-shadow:0 1px 4px rgba(0,0,0,.08);
}

.reference a{
    color:#2f5eb7;
}

.question{
    background:#f1ede2;
    border-left:5px solid #7d8ea8;
    padding:12px;
    margin-bottom:12px;
}

details{
    margin-top:15px;
}

summary{
    cursor:pointer;
    font-weight:bold;
}

footer{
    background:#24344d;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
}

media (max-width: 700px){

nav a{
    display:block;
    margin:10px 0;
}

.container{
    padding:20px;
}

}
.pathway{
    background:white;
    border-radius:12px;
    padding:25px;
    text-align:center;
    font-weight:bold;
    margin:20px 0;
    box-shadow:0 1px 4px rgba(0,0,0,.08);
}
